<% if current_admin %>

Widok niedostępny z poziomu Administratora

<% else %>

<h3>Aktualnie licytujesz:</h3>
<table class="table table-hover">
  <tr>
    <th>Lp.</th>
    <th>Kategoria</th>
    <th>Nazwa</th>
    <th>Cena aktualna</th>
  </tr>
  <% @aukcje.each do |aukcja| %>
  <% if !current_admin %>
  <% if current_user.id == aukcja.user_id %>

  <tr>
    <td><%= aukcja.id %></td>
    <td><%= aukcja.kategorie_id %></td>
    <td><%= aukcja.nazwa %></td>
    <td><%= aukcja.cena_aktualna %></td>
  </tr>
  <% end %>

  <% end %>
  <% end %>
</table>


<% end %>
