<h2>Aktualnie licytujesz:</h2>
<table class="table table-hover">
  <tr>
    <th>Numer aukcji</th>
    <th>Nazwa aukcji</th>
    <th>Cena aktualna</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
