<p>Witaj <%= @resource.email %>!</p>

<p>Otrzymaliśmy prośbę o zmianę Twojego hasła. Możesz to zrobić za pomocą poniższego linku:</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie wysyłałeś takiej prośby, to proszę zignoruj tą wiadomość</p>
<p>Twoje hasło nie ulegnie zmianie dopóki nie dokonasz tego za pośrednictwem tego linku.</p>
