<nav class="navbar navbar-light" style="background-color: #c0cacd;">
      <% @kategorie.each do |kategoria| %>
      <ul class="nav navbar-nav">
    <li><%= link_to kategoria.nazwa_kategorii, kategory_path(kategoria) %></li></a>
    </ul>
<% end %>
</nav>
