<%= render 'kategories_table' %>

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-8 main">
        <p>Serwis aukcyjny</p>
        <h1>Strona domowa</h1>
        <%= link_to "Wyszukiwanie zaawansowane", new_search_path %>
    </div>
  </div>
</div>
