<h4 class="text-center">Witaj w Let's Bid It!</h4>
<%= render 'kategories_table' %>
<h4 class="text-left">Może Cię zainteresować:</h4>
<div class="row">
  <div class="col-xs-5">
      <table>

    <% @kategorie.each do |kat| %>
      <% a=kat.aukcje.pluck(:id).last %>
      <% @aukcje.each do |aukcja| %>
        <% if aukcja.id == a %>
          <th>
          <ul class="breadcrumb">
          <p>
          <a href="<%= aukcje_path(aukcja) %>">
          <%= image_tag aukcja.image.url(:medium), class:"img-responsive" %>
          <%= aukcja.nazwa %>  </p>
        </a>
        </ul>
        </th>
        <% end %>
      <% end %>
    <% end %>
  </table>

  </div>
  <div class="col-xs-5"></div>

</div>
<div class="col-xs-2"></div>
</div>
