<a href="<%= aukcjes_path %>" style="text-decoration: none">
<ol class="breadcrumb col-xs-3">
<br><h2>Moje aukcje </h2><br>
</ol>
</a>

<a href="<%= aukcjes_path %>">
<ol class="breadcrumb col-xs-3">
<br><h2>Moje licytacje</h2><br>
</ol>
</a>

<a href="<%= obserwowanes_path %>">
<ol class="breadcrumb col-xs-3">
<br><h2>Obserwowane</h2><br>
</ol>
</a>
