<h3>Rejestracja użytkowników według dnia: </h3>
<%= line_chart User.group_by_day(:created_at).count %>

<h3>Liczba aukcji ze względu na kategorie:</h3>
<%= bar_chart @aukcjes.joins(:kategorie).group(:nazwa_kategorii).count %>

<h3>Liczba utworzonych aukcji według dnia:</h3>
<%= line_chart @aukcjes.group_by_day(:created_at).count %>

</div>
