<% content_for :title, " - Podgląd kategorii." %>
   <p> <h1><strong><%= @kategorie.nazwa_kategorii %></strong></h1>

<div class="jumbotron">
Aukcje należące do kategorii:<br>
<% @aukcje.each do |aukcja| %>
  <% if aukcja.kategorie_id == @kategorie.id %>
   <p style="background-color: #ffffff;">
     <%= link_to aukcja.nazwa, aukcje_path(aukcja) %></h4>
   </p>
  <% end %>
<% end %>
</div>
