<p>Witaj <%= @email %>!</p>

<p>aby zakończyć rejestrację, potwierdź swój adres e-mail klikając w poniższy link::</p>

<p><%= link_to 'Potwierdź', confirmation_url(@resource, confirmation_token: @token) %></p>
