<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header navbar-inverse">
      <%= link_to "Strona Główna", root_path, class: 'navbar-brand' %>
      <%= link_to "Aukcje", aukcjes_path, class: 'navbar-brand' %>
      <%= link_to "Kategorie", kategories_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
