<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Strona Główna", root_path, class: 'navbar-brand' %>
      <%= link_to "Aukcje", aukcjes_index_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
